.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

.channel-container {
  margin: auto;
  width: 600px;
  padding: 30px 0;
}

.channel {
  width: 20rem;
  margin: 10px 25px;
}

.channel-image {
  width: 100%;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}
